<div class="container-fluid about">
  <div class="row">
    <div class="col about-us">
      <h3>ABOUT US</h3>
      <br>
      <p>About to launch in 2021, Dairyman is Ahmedabad's first daily micro-delivery service. built on the unique Indian habit of getting fresh milk delivered at home every morning. Dairyman is duldilling the entire grocery needs of a household
        everyday before 7:00 a.m. To enable frequent and friction-less buying, Dairyman has innivated flexi ordering and contactless delivery</p>
    </div>
    <div class="col contact">
      <h3>CONTACT US</h3>
      <br>
      <p>Mail : dairyman@hotmail.com <i class="fas fa-inbox"></i></p>
      <p>Mobile : +91 987654321 <i class="fas fa-phone-square-alt"></i></p>

    </div>
    <div class="col social">
      <h3> GET SOCIAL WITH US</h3>
      <br>
      <img src="logoimage\social-media.png" class="media" alt="">
    </div>
  </div>

</div>
</body>
</html>
